<a href="https://colab.research.google.com/github/AnkitSingh-12/pandas-lib/blob/main/pandascleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**data cleaning**

In [3]:
import numpy as np
import pandas as pd

In [11]:
df=pd.read_csv('/content/amazon_fires.csv',encoding='ISO-8859-1')
df

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [ ]:
d={'ano':'year','mes':'mon','estado':'state','numero':'no_of_fires','encontro':'date'}
df.rename(columns=d,inplace=True)
df

In [ ]:
dummy=pd.DataFrame({
    'a':[1,2,3],
    'b':[4,5,6],
    'c':[7,8,9]})
dummy.rename(columns={'a':'A','b':'B','c':'C'},inplace=True)
dummy

In [ ]:
df.info()

In [ ]:
df.drop_duplicates(inplace=True )
df

In [ ]:
d={'Janeiro':'jan', 'Fevereiro':'feb', 'Março':'mar', 'Abril':'april', 'Maio':'may', 'Junho':'june', 'Julho':'july',
       'Agosto':'aug', 'Setembro':'sept', 'Outubro':'oct', 'Novembro':'nov', 'Dezembro':'dec'}
# df['mon'].map(d)
df['mon']=df['mon'].map(d)
df
df['mon'].unique()

**remove unwanted data from a particular column**

In [ ]:
df['no_of_fires']=df['no_of_fires'].str.strip('Fires')
df

**applying inbuilt on a particular on columns**

In [ ]:
df['mon']=df['mon'].str.capitalize()
df

**handling missing elements**

In [ ]:
dummy=pd.DataFrame({
    'name':['A','B','C','D','E',None],
    'id':[None,10,20,30,40,50],
    'age':[27,22,None,28,25,24]})
dummy

In [ ]:
# dummy.dropna(inplace=True)
# dummy

In [5]:
# dummy=dummy['age'].dropna()
# dummy

In [6]:
# dummy.dropna(inplace=True)
# dummy

In [9]:
dummy['age']=dummy['age'].fillna(0)
dummy

NameError: name 'dummy' is not defined

In [ ]:
dummy[['age','id']]=dummy[['age','id']].fillna(0)
dummy

In [ ]:
dummy['age']=dummy['age'].fillna(dummy['age'].mean())
dummy

In [ ]:
avg=dummy['age'].mean()
avg
dummy['age']=dummy['age'].fillna(avg)
dummy

In [ ]:
dummy['id']=dummy['id'].ffill()
dummy

In [ ]:
dummy.info()

 **changing data type of the column**

In [ ]:
dummy['id']=dummy['id'].astype('int')
dummy.info()

**reaaranging order of the column**

In [ ]:
l=[1,0,2]
dummy=dummy[dummy.columns[l]]
dummy


**changing a particular value in a particular**

In [ ]:
df['mon'].str.replace('jan','january')
df['mon'].unique()

In [ ]:
df['mon']=df['mon'].str.replace('Jan','january')
df

**removing unwanted columns in a dataset**

In [ ]:
dummy.drop('age',axis=1)

In [ ]:
dummy=dummy.drop([0,3])
dummy

**reaaranging the indexex**

In [ ]:
dummy.reset_index(inplace=True)
dummy

In [ ]:
dummy=dummy.drop('index',axis=1)
dummy

**setting columns as index**

In [ ]:
dummy=dummy.set_index('id')
dummy